@font-face{
    src: url(fonts/Rochester-Regular.ttf);
    font-family: rochester;
} 
*{
    border: none !important;
    outline: 0 !important;
}

body{
    background-image: linear-gradient(rgba(220,220,220,0.8),rgba(220,220,220,0.8)),url(../img/Doc1-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.headnav{
    background-color: #0009 !important  ;
    font-family: 'open sans',sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-button{
    background-color: purple;
    
    border: none;
    outline: 0;
    border-radius: 15px;
}
.nav-button a{
 text-decoration: none !important;
    color: white ;
}

.nav-button:hover{
    background-color: grey;
}


@media only screen and (max-width: 570px) {
   .nav-tab{
padding-left:2%;
}
}
 

.car-inner {
 height:500px !important;    
}

.carcpt h1 ,.carcpt p{
font-family: 'galada',sans-serif;
    color:white;
 text-shadow:2px 2px #000000;
     
}

.car-img {
 height:500px !important;  
}



.about{
 box-sizing: border-box;
    padding: 2% 5% 6% 5%;
    
}

.about h1{
font-family: 'galada',sans-serif;
    font-size: 50px;
}
    
.about p{ 
    font-family: 'open-sans',sans-serif;
    font-size: 20px;  
    text-align: justify;
}
    
.about-img{ 
    width: 250px;
    float:right;
shape-outside: circle();
}
  
.slantediv1{
    position: relative;
    width:100%;
    min-height: 40%;
    padding-top: 10  !important;
    padding-bottom: 0  !important;
    background-color: blueviolet;
     padding: 3%;
}

.slantediv1:before{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height:40%;
    content: '';
    z-index: -1;
    background: inherit;
    transform-origin: top right;
    transform: skewY(2deg);
}
.slantediv1:after{
    position: absolute;
    top:210;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height:40%;
    content: '';
    z-index: -1;
    background: inherit;
    transform-origin: bottom left;
    transform: skewY(-2deg);
}

.titlediv{
    margin-bottom: 5%;
    font-family:'galada',sans-serif;
    font-size: 50px;

}

.slantediv1 img{
   width: 300px;
    float: left;
    shape-outside:url(../img/dashboard.png);
    shape-margin: 20px;
}


.slantediv3 img{
   width: 250px;
    float: left;
    shape-outside:url(../img/secure.png);
    shape-margin: 20px;
}

.slantediv1 h1{
font-family: 'galada',sans-serif;
    color: white;
}


.slantediv1 p{
font-size: 20px;
color: white;
    
}


.slantediv2 img{
   width: 200px;
    float: right;
    shape-outside:url(../img/register.png);
    shape-margin: 10px;
}

.slantediv2 h1{
font-family: 'galada',sans-serif;
    color: purple;
}


.slantediv2 p{
font-size: 20px;
color: purple;
    text-align: justify;
}

.slantediv3 h1{
font-family: 'galada',sans-serif;
    color: white;
}


.slantediv3 p{
font-size: 20px;
color: white;
    text-align: justify;
}

.slantediv2{
    min-height: 50%;
    width:100%;
     padding: 4%;
    z-index: -1;
}



.slantediv3{
    position: relative;
    width:100%;
    padding-top: 0  !important;
    background-color: blueviolet;
     padding: 3%;
}

.slantediv3:after{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height:40%;
    content: '';
    z-index: -1;
    background: inherit;
    transform-origin: top right;
    transform: skewY(2deg);
}
.features .col-md-4{
    padding: 3%;   
}

.features .card  h2{
  font-family: 'galada',sans-serif;
    color: white;
}

.features .card1 ,.features .card{
    min-height: 70%;
    border-radius: 25px;
    border: none;
    padding: 5% ;
    font-family: 'open-sans',sans-serif;
    text-align: justify;
    color: white;
}

.features .card1  h2 {
  font-family: 'galada',sans-serif;
    color: white;
}

.col-md-4:nth-child(1) .card {
    background:linear-gradient(rgb(244, 3, 209,0.8) ,rgb(100, 181, 246,0.8));
}

.col-md-4:nth-child(2) .card{
    background:linear-gradient(rgb(255, 236, 97,0.8) ,rgb(243, 33, 215,0.8));
}

.col-md-4:nth-child(3) .card{
    background:linear-gradient(rgb(36, 255, 114,0.8) ,rgb(154, 78, 255,0.8));
}

.col-md-4:nth-child(1) .card1{
    background:linear-gradient(rgba(244, 3, 209,0.8) ,rgba(100, 181, 246,0.8));
}

.col-md-4:nth-child(2) .card1{
    background:linear-gradient(rgb(255, 236, 97,0.8) ,rgb(243, 33, 215,0.8));
}

.col-md-4:nth-child(3) .card1{
    background:linear-gradient(rgb(36, 255, 114,0.8) ,rgb(154, 78, 255,0.8));
}
.card img ,.card1 img{
    height:60px; 
}
.cardbutton{
    background-color: white;
    width:50%;
    height:40px;
    padding: 2%;
    margin-bottom: 4%;
    border: none;
    border-radius: 40px;
}

.card:hover,.card1:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.cardbutton:focus{
outline: 0;
}
.contact{
    min-height: 50%;
}

.contactus{
    font-family:'galada',sans-serif;
    font-size: 50px;
}
.contact h5{
    font-family:'galada',sans-serif;
    font-size: 25px;
}
.contactbtn{
    height: 40px;
    width:150px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: blueviolet;
    float: right;
}
.contactbtn:hover{
transform: scale(1.1)
}

.footer{
    background-color: #0009;
    min-height: 50%;
    padding: 50px;
}

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
    font-family: 'rochester';
}
.footerp{
    color: white;
    text-align: justify;
}

.social span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li{
    margin:20px 0px;
    list-style: none;
}


.address .fa{
    color: blueviolet;
    margin-right: 10px;
    font-size:18px;
}

.footerlogo{
       color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7 !important; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.footercpr{
    color: white;
    margin: 0;
}


ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
    
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoyoutube:hover {
	background-color:#ff0000;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	border-radius:50% !important;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-network li i {
	margin:0;
	line-height:50px;
	text-align: center;
}


.social-network i {
	color: #fff;
}

